.App {
  text-align: center;
  height: 100%;
}

#root {
  height: 100%;
}


html,
body { height: 100%; }


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 60px;
  padding: 20px;
  margin-bottom: 30px;
  color: white;
}

.App-header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.App-header li {
  display: inline;
  padding-left: 30px;
  float: left;
}

.App-header a {
  color: white;
  font-size: 19px;
}

.App-title {
  font-size: 1.5em;
}

.footer {
  background-color:#222;
}

.App-intro {
  font-size: large;
}


.page-flex {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
}

.page-content {
  flex: 1;
}

img {
  width: 100%;
}

.landing {
  position: relative;
  background: url('Atlanta.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.landing-inner {
  padding-top: 80px;
}

.dark-overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.card-form {
  opacity: 0.9;
}

.latest-profiles-img {
  background: url('Atlanta.jpg');
  width: 40px;
  height: 40px;
}

.form-control::placeholder {
  color: #bbb !important;
}


.section-plans {
    background-image: #f4f4f4;
}
.plan-box {
    background-color: #fff;
    border-radius: 5px;
    width: 600;
    height:600;
    margin-left: 5%;
    box-shadow: 0 2px 2px #efefef;
}

.section-community {
    color: #fff;
    background-attachment: fixed;
}

.bounding-box {
  background-image: url(realestate.png);
  background-size: contain;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  height: 180px;
  width: 180px;
}

.bounding-secondbox {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(House-with-for-sale-sign.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(House-with-for-sale-sign.jpg);
  background-size: contain;
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  width: 300px;
}

.title-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}